body{
    /* background-image: url('http://static1.squarespace.com/static/5d7b921aa20ea468a889fb20/5d7b93901889d2469684ae83/5d7b93921889d2469684b557/1568379794212/zb3BZCva.gif?format=original'); */
    background-image: url('http://static1.squarespace.com/static/5d7b921aa20ea468a889fb20/5d7b93901889d2469684ae83/5d7b93921889d2469684b551/1568379794207/njPhhkca.gif?format=original');
    background-size: cover;
    background-repeat: no-repeat;
}